<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
<%#= cl_image_tag("a703dtvrplxf2jwypvbq",
      width: 400, height: 300, crop: :fill) %>

  <% end %>
</div>

<%= link_to "New post", new_post_path %>
